/*Universal styles*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/*Universal styles ends*/

/*general styles starts*/
body {
  position: fixed;
  z-index: -1;
  background: url(../images/restaurant.png) no-repeat center center/ cover;
}
/*general styles ends*/
