/*Universal styles*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  width: 100vw;
  height: 100vh;
}
/*Universal styles ends*/

/*general styles starts*/
body {
  position: relative;
  display: flex;
  z-index: -1;
  background: url(../images/restaurant-sm.jpg) no-repeat center center/ cover;
  transition: all 0.3s ease;
}
i {
  color: white;
}
/*general styles ends*/
/*main container starts*/
main {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 15, 0, 0.43);
  position: relative;
  z-index: 1;
  color: #efe;
  height: 100%;
  width: 100%;
  align-content: center;
  justify-content: center;
  text-align: center;
}
/*main container ends*/

/*media queries start*/
@media only screen and (min-width: 680px) {
  /*general styles*/
  body {
    background: url(../images/restaurant.png) no-repeat center center/ cover;
  }
  /*main container styles*/
  main {
    background-color: transparent;
  }
}
/*media queries end*/
