mono_crash.*
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.txt
DocProject/buildhelp/
DocProject/Help/*.HxT
DocProject/Help/*.HxC
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/Html2
DocProject/Help/html

